body {
        background-color: #F5F5F5;
}
.welcome {
        margin: 200px auto 50px auto;
        color: #FCB1A6;
}
.welcome span {
        font-family: "Satisfy", cursive;
        font-weight: 400;
        font-style: normal;
        font-size: 200px;
}
