body {
        background-color: #F5F5F5;
        font-family: "Montserrat", sans-serif;
        font-weight: 400;
        font-style: normal;
}
.welcome {
        margin: 200px auto 50px auto;
        color: #FCB1A6;
        text-align: center;
}
.welcome span {
        font-family: "Satisfy", cursive;
        font-weight: 400;
        font-style: normal;
        font-size: 200px;
}
.welcome p {
        font-size: 36px;
}
