body {
        background-color: #F5F5F5;
        font-family: "Montserrat", sans-serif;
        font-weight: 400;
        font-style: normal;
        margin: 0px;
}
a {
        color: #FCB1A6;
        text-decoration: none;
}
a:hover {
        color: #5D2A42;
}
.welcome {
        margin: 200px auto 50px auto;
        color: #FCB1A6;
        text-align: center;
}
.welcome span {
        font-family: "Satisfy", cursive;
        font-weight: 400;
        font-style: normal;
        font-size: 200px;
        line-height: 160px;
}
.welcome p {
        font-size: 26px;
}
.navigation {
        background-color: #5D2A42;
        color: #F5F5F5;
        display: flex;
        justify-content: space-between;
        padding: 8px 20px;
}
.logo {
        margin-left: 10px;
}
.nav-links ul {
        display: flex;
}
.nav-links ul li{
        list-style-type: none;
        margin: 0 10px;
}
.nav-links a {
        color: #F5F5F5;
        text-decoration: none;
}
.content {
        
}
.content h1 {
        font-family: "Satisfy", cursive;
        font-weight: 400;
        font-style: normal;
        font-size: 60px;
        color: #FCB1A6;
        text-align: center;
}

/* --------------------------------------------------------- About Karate ----------------------------------------------------------------------------------------- */
.container {
        width: 70%;
        min-width: 450px;
        margin: 0 auto;
}
.container p {
        text-align: justify;
}
.container.about img {
        display: block;
        margin: 0 auto;
        width: 50%;
}
.about table {
        margin: 30px auto 80px auto;
}
.about td {
        padding: 6px 12px;
        text-align: center;
}

/* --------------------------------------------------------- About Kumite ----------------------------------------------------------------------------------------- */
.container.kumite iframe {
        display: block;
        margin: 0 auto;
        width: 70%;
        margin: 30px auto 80px auto;
}

/* --------------------------------------------------------- About Kata ----------------------------------------------------------------------------------------- */
.container.kata iframe {
        display: block;
        margin: 0 auto;
        width: 70%;
        margin: 30px auto 80px auto;
}

/* --------------------------------------------------------- About Me ----------------------------------------------------------------------------------------- */
.content .container h2 {
        font-family: "Satisfy", cursive;
        font-weight: 400;
        font-style: normal;
        font-size: 18px;
        color: #FCB1A6;
        text-align: center;
}
.container.about-me p:last-of-type {
        margin: 30px auto 80px auto;
}


/* --------------------------------------------------------- Contact ---------------------------------------------------------------------------------------------- */
.content form {
        width: 40%;
        min-width: 400px;
        margin: 0 auto;
        font-size: 18px;
}
.content form div {
        width: 100%;
        margin-bottom: 24px;
}
.content form label {
        margin-bottom: 8px;
        display: block;
        color: #5D2A42;
}
.content form label.no-margin {
        margin-bottom: 0;
        display: inline-block;
        color: #FCB1A6;
}
.content form input[type=text] {
        width: 100%;
        padding: 8px 12px;
        border: 1px solid #FCB1A6;
        color: #5D2A42;
}
.content form textarea {
        width: 100%;
        resize: vertical;
        min-height: 100px;
        border: 1px solid #FCB1A6;
        padding: 8px 12px;
        color: #5D2A42;
}
.content form input[type=text]:focus-visible, 
.content form textarea:focus-visible {
        border: 1px solid #5D2A42;
}
.content form div:nth-child(3) label:first-child {
        display: block;
}
.content form input[type=submit] {
        display: block;
        margin: 0 auto;
        background-color: #FCB1A6;
        color: #F5F5F5;
        padding: 14px 28px;
        border: none;
        font-size: 20px;
        transition: background-color 1s;
}
.content form input[type=submit]:hover {
        background-color: #5D2A42;;
        transition: background-color 1s;
}

